<div class="buttonbg">
<ion-header-bar align-title="left" class="bar-positive">
        <h1 class="title">Control Buttons</h1>
    <div class="buttons">
        <button class="button icon icon-left ion-log-out" ng-click="logOff()"> Log Out
        </button>

    </div>
</ion-header-bar>
<ion-content class="has-header">

    <br><br><br>
    <br>
    <div class="list">

        <a  onclick="turn_on_1()" class="item item-energized item-icon-left" href="#">
            <i class="icon ion-ios-lightbulb"></i>
            Turn On the 1st Light
        </a>
        <a onclick="turn_off_1()" class="item item-balanced item-icon-left" href="#">
            <i class="icon ion-ios-lightbulb-outline"></i>
            Turn Off the 1st Light
        </a>
        <a onclick="turn_on_2()" class="item item-energized item-icon-left" href="#">
            <i class="icon ion-ios-lightbulb"></i>
            Turn On the 2nd Light
        </a>
        <a onclick="turn_off_2()"class="item item-balanced item-icon-left" href="#">
            <i class="icon ion-ios-lightbulb-outline"></i>
            Turn Off the 2nd Light
        </a>
        <a onclick="turn_on_g1()" class="item item-energized item-icon-left" href="#">
            <i class="icon ion-ios-home"></i>
            Open the Garage Door
        </a>
        <a onclick="turn_off_g2()" class="item item-balanced item-icon-left" href="#">
            <i class="icon ion-ios-home-outline"></i>
            Close the Garage Door
        </a>


    </div>
</ion-content>
</div>