<div class="login">
<ion-view view-title="Log In">
    <ion-header-bar align-title="center" class="bar-positive">
        <div class="title">Smart House</div>
    </ion-header-bar>
    <ion-content>
        <div class="row-center">
       <div class="padding">

           <form action="" name="loginForm" ng-submit="loginUser()">
               <div class="list">
                   <label class="item item-input">
                       <span class="input-label">Email</span>
                       <input name="email" required ng-model="data.email" type="email">
                   </label>
                   <div ng-show="loginForm.email.$error.email" class="text-center assertive">
                       Enter a valid email
                   </div>
                   <label class="item item-input">
                       <span class="input-label">Password</span>
                       <input name="password" required minlength="6" ng-model="data.password" type="password">
                   </label>
                   <div ng-if="loginForm.password.$error.minlength" class="text-center assertive">
                       Password must be at least 6 characters
                   </div>
                   <button ng-disabled="!loginForm.$valid" class="button button-block button-positive">Log In</button>
               </div>
           </form>
           </div>
       </div>
    </ion-content>
</ion-view>
    </div>
