/*
First Step - 20.09.2015 - 02:01
Software Developer - Murat Necip Arcan
It will support up to this resolution 1280 × 600
*/
html, body
{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    height:auto;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.6;
    color: #1e3948;
    margin:0px;
    padding:0px;
    background-color: #f5f8fa;
}

#main
{
    width:100%;
    height:100%;
}

#header
{
    width:100%;
    background-color:#e6235c;
    height:50px;
    border-bottom:solid 1px #b90b3e;
}

#block_header
{
    text-decoration: none;
    width: 1290px;
    height:55px;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}
#menu
{

    width:50%;
    height:50px;
    float:left;
}

#menu ul
{
    margin:0px;
    width:100%;
    list-style: none;

}


#menu ul li
{


}

#menu ul li a
{
    color:rgba(255, 255, 255, 0.8);
    float: left;
    display: block;
    padding-top: 5px;
    padding-left: 20px;
    text-align: center;
    line-height: 40px;
}

#menu ul li a:hover
{
    color:#fff;
}



#menus
{
    width:48%;
    height:50px;
    float:left;
    padding-left: 200px;
}

#menus ul
{
    margin:0px;
    width:100%;
    list-style: none;

}


#menus ul li
{
    float:left;

}

#menus ul li a
{
    color:rgba(255, 255, 255, 0.8);
    float: left;
    display: block;
    padding-top: 5px;
    padding-left:10px;
    text-align: center;
    line-height: 40px;
}

#menus ul li a:hover
{
    color:#fff;
}



#logo
{
    float:left;

}

#content
{
    width:1200px;
    height:50px;
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
}

#cover
{
    height:150px;
    background-size: cover;
    margin:0px;
}

#ecl
{
    max-width: 100px;
    margin-top: -70px;
    margin-bottom: 5px;
    border: 3px solid #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}


#eclm
{
    margin-top:5px;
    margin-left:10px;
    max-width: 50px;
    margin-bottom: 5px;
    border: 2px solid #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

#name
{
    color: #1e3948;
    font-weight: bold;
    font-size:16px;

}

#desc

{
    padding-left:20px;
    padding-right:20px;
}

#friends_c
{
    list-style: none;
    padding: 0;
    color: #1e3948;
}

#friends_c a
{
    color: #1e3948;
}

#friends_c ul ol
{
    margin-top: 0;
    margin-bottom: 11px;
    color: #1e3948;
}

#friends_c
{

    display: inline-block;
    padding: 0 10px;
    margin-bottom:20px;
}

#friends_c h5
{
    color: #1e3948;
}

#share
{
    width:100%;
    height:100px;
    background-color: #0000;
    padding:10px;

}


/*
#field
{
  width:100%;
  height:100px;
    max-height: auto;
}
*/

#left
{
    float:left;

}

#left #images
{

    margin-top:0px;
    margin-left:10px;
    max-width: 60px;
    margin-bottom: 5px;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

}

#right
{
 margin-left:70px;

}

#right #name
{
    margin-left:10px;
    margin-top:0px;
    font-size:14px;

}

#right #content_text
{
    width:470px;
    margin-left:10px;
}

#right #content_text p
{
    width:470px;
}

#header_library
{
    margin-top:-6px;
    height:200px;
    background-color: #cd134a;
    padding-top:30px;

}

#header_library h1
{
    margin-top:-20px;
    margin-left:10px;
    color: #fff;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:50px;
}

#header_library p
{
    margin-left:15px;
    color: #fff;
    font-family: 'Poiret One', cursive;
    font-size:24px;
}

#city_text
{
    position:absolute;
    color: #fff;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:90px;
    margin-top:160px;
}

#contents
{
    width:1200px;
    height:50px;
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
}

#contents img
{

    box-shadow: 0px 0px 43px 1px rgba(0,0,0,0.2);
    border:solid 5px #fff;
    margin-top:50px;

}

#contents img:hover
{



}


#content_login
{
    width:90%;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
}

#content_login img
{

    box-shadow: 0px 0px 43px 1px rgba(0,0,0,0.2);
    border:solid 5px #fff;
    margin-top:50px;

}


#content_login_ad
{
    width:100%;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
}

#content_login_ad img
{

}


#cover_profile:before
{
    content: "";
    position: fixed;
    display: block;
    background-image: url('../image/city/or.jpg');
    -webkit-filter: blur(2px);

}

#cover_profile
{
    text-align: center;
    margin-top:-5px;
    width:100%;
    background-image: url("../image/city/or.jpg");
    background-size: cover;
    height:500px;

}


#cover_profile img
{
    max-width: 110px;
    margin-top: 120px;
    margin-bottom: 5px;
    border: 3px solid #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

#cover_profile h3
{
    margin-top: 10px;
    font-size: 24px;
    color: #fff;
    text-rendering: optimizelegibility;
    text-shadow: 0 0 3px rgba(0,0,0,.8);
}



#menu_profile
{
    width: 18%;
    margin-top:130px;
    height:50px;
    display:inline-block;

}

#menu_profile ul
{
    margin:0px;
    width:100%;
    list-style: none;
}

#menu_profile li
{

    color:rgba(255, 255, 255, 0.8) !important;
    float: left;
    padding-top: 5px;
    padding-left: 20px;
    font-size:16px;
    text-align: center;
    line-height: 40px;
}

#menu_profile li
{

    color:rgba(255, 255, 255, 0.8) !important;
    float: left;
    padding-top: 5px;
    padding-left: 20px;
    font-size:16px;
    text-align: center;
    line-height: 40px;
}

#active a li
{
    color:#fff !important;

}

#maps_t
{
    width:100%;
    height:300px;
}

#cover_s
{
  background-image: url("../image/cover.jpg");

    text-align: center;
    height:700px;
    margin-top: -5px;
    width:100%;
    background-repeat:no-repeat;
    background-size:100%;
    background-position:center;
}

#cover_1
{
    background-image: url("../image/cover_1.jpg");
    text-align: center;
    height:700px;
    margin-top: -5px;
    width:100%;
    background-repeat:no-repeat;
    background-size:100%;
    background-position:center;
}

#cover_1 span

{
    margin-top:-20px;
    margin-left:10px;
    color: #fff;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:64px;
}

#cover_2
{
    background-image: url("../image/cover_6.jpg");
    text-align: center;
    height:500px;
    margin-top: -5px;
    margin-bottom: 100px;
    width:100%;
    background-repeat:no-repeat;
    background-size:100%;
    background-position: bottom;

}


#cover_2 span

{
    margin-top:-20px;
    margin-left:10px;
    color: #fff;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:64px;
}

#cover_3
{
    background-image: url("../image/cover_7.jpg");
    text-align: center;
    height:500px;
    margin-top: -5px;
    margin-bottom:100px;
    background-repeat:no-repeat;
    background-size:100%;
    background-position: center;
}

#cover_3 span

{
    margin-top:-20px;
    margin-left:10px;
    color: #fff;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:64px;
}


#cover_s span
{
    margin-top:-20px;
    margin-left:10px;
    color: #fff;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:64px;

}

#cover_ad
 {
     background-color:#E91E63;
     height:500px;
     margin-bottom:100px;
     padding-top:70px;
     padding-left:100px;
     padding-right: 100px;



 }

#cover_ad ul
{
    margin:0px;
}

#cover_ad li
{
  float: left;
  margin: 20px;
}

#cover_ad #box
{
   background-color: #fff;
   height:100px;
   width:400px;
}


#cover_ad span

{

    margin-top:-20px;
    margin-left:10px;
    color: #fff;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:64px;

}

#login_p
{
    width:600px;

    margin-left:auto;
    margin-right: auto;
}

#cover_p
{
    background-image:url('../image/cover_22.jpg');
    width:100%;
    text-align: center;
    height:600px;
    background-repeat:no-repeat;
    background-size:100%;
    padding-top:250px;
    background-position: center;
}

#cover_p span
{
    margin-top:-20px;
    margin-left:10px;
    color: #fff;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:64px;
}

#t_map
{
    background-repeat:no-repeat;
    background-size:100%;
    background-position:center;
    background-color: ff5c5c;
    background-image: url('image/map_cover.png');
    background-repeat: no-repeat;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
    height:350px;
    text-align: center;
    padding-top: 50px;
}

#t_map
{
    background-repeat:no-repeat;
    background-size:100%;
    background-position:center;
    background-color: ff5c5c;
    background-image: url('../image/map_cover.png');
    background-repeat: no-repeat;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
    height:350px;
    text-align: center;
    padding-top: 50px;
}

#s_map
{
    background-repeat:no-repeat;
    background-size:100%;
    background-position:center;
    background-color: ff5c5c;
    background-image: url('../image/s_map.jpg');
    background-repeat: no-repeat;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
    height:350px;
    text-align: center;
    padding-top: 50px;
}


#join_p
{
    background-repeat:no-repeat;
    background-size:100%;
    background-position:center;
    background-color: ff5c5c;
    background-image: url('../image/join.jpg');
    background-repeat: no-repeat;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
    height:350px;
    text-align: center;
    padding-top: 50px;
}

#cover_singup
{
    background-image: url("../image/cover_1_3.jpg");
    text-align: center;
    height:700px;
    margin-top: -5px;
    width:100%;
    background-repeat:no-repeat;
    background-size:100%;
    background-position:center;
}