
.login, .buttonbg {
    background: url(../lib/ionic/css/logo.png);
    background-repeat: no-repeat;
    background-size: initial;
    background-position: center;
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: 2;
    /*position: relative;*/
}
.center{

    margin: auto;
        position: fixed;
}